  <div class="row text-center">
    <div class="small-centered small-11 columns">
      <hr>
    </div>
    <div class="small-12 columns">
      <p>&#169; 2014 {{ site.vcard.fn }}
      <span class="inline-hide-for-small"> &#183; </span>
      <br class="show-for-small-only">
      {{ site.vcard.street-address }}, {{ site.vcard.locality }}, {{ site.vcard.state }} {{ site.vcard.zip}}
      </p>
    </div>
    <div class="small-12 columns">
      <p>Responsive Web Design by 
      <br class="show-for-small-only">
      <a target:"_blank" href="{{ site.theme.author.url }}">{{ site.theme.author.company }}</a>
      </p>
    </div>
  </div>
