<head>
  {% include {{ in_dir }}/meta.html %}
  <title>{{ site.name }}{% if page.title %} &#183; {{ page.title }}{% endif %}</title>
  {% include {{ in_dir }}/robots.html %}
  {% include {{ in_dir }}/opengraph.html %}

  {% for favicon in site.theme.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ site.baseurl }}{{ favicon }}">
    <link rel="apple-touch-icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ site.baseurl }}{{ favicon }}">
    {% endfor %}

    <link rel="alternate" href="/blog/feed.atom"
      title="{{ site.name }}" type="application/atom+xml">

    {% for stylesheet in site.theme.stylesheets %}
      <link rel="stylesheet" href="{{ site.baseurl }}{{ stylesheet }}">
    {% endfor %}
    <link rel="stylesheet" id='google-font-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%7CLora%3A400%2C700%7CDroid+Sans+Mono%7COswald%3A400%2C700%7CMontserrat%3A400%2C700' type='text/css' media='all'>

    <script src="{{ site.baseurl }}/bower_components/foundation/js/vendor/modernizr.js"></script>
</head>
