<div class="contain-to-grid">
  <div id="topbar" class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
            <h1> </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#topbar"><span>{{ site.theme.topbar.toggle }}</span></a></li>
      </ul>
    <div class="top-bar-section">
      {% if site.theme.topbar.left %}
      <ul class="left">
      {% for item in site.theme.topbar.left %}
        <li class="divider"><li>
        {% assign active = item.url | downcase | append: 'index.html' %}
        <li class="{% if active == page.url %}active{% endif %}{% if item.class %}has-form{% endif %}">
          <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
        </li>
      {% endfor %}
        <li class="divider"><li>
      </ul>
      {% endif %}

      {% if site.theme.topbar.right %}
      <ul class="right">
      {% for item in site.theme.topbar.right %}
        <li class="divider"><li>
        {% assign active = item.url | downcase | append: 'index.html' %}
        <li class="{% if active == page.url %}active{% endif %}{% if item.class %}has-form{% endif %}">
          <a href="{{ site.baseurl }}{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
        </li>
      {% endfor %}
        <li class="divider"><li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
