safe: true
# url: http://thehammar.github.io
# baseurl: /staging
lsi: false
highlighter: pygments
timezone: America/Los_Angeles
permalink: /:categories/:year/:month/:title/ 
# final trailing slash is optional here in config; will be appended to url address but not to {{ page.url }} liquid output 

markdown: kramdown
kramdown: 
  input: GFM
  parse_block_html: true

# Theme Info
theme: &the_hammar
  description: "Jekyll theme built with Zurb Foundation 5 responsive framework."
  author: 
    name: "Remy Schrader"
    company: "RootAndFlow.com"
    url: "http://www.rootandflow.com"
  lang: en
  fonts: "Open+Sans%3A300%2C400%2C600%2C700%7CLora%3A400%2C700%7CDroid+Sans+Mono%7COswald%3A400%2C700%7CMontserrat%3A400%2C700"
  generator: "Built for Jekyll and published on Github Pages."
  dir: &longmans_d
    bow: /_includes/longmans/bower_components
    css: /_includes/longmans/the_hammar/css
    img: /_includes/longmans/the_hammar/img
    inc: /longmans/the_hammar
    lay: &longmans_lay /_includes/longmans/the_hammar/layouts
  favicons:
    - /favicon-172.png
  javascripts:
    bower:
      - /foundation/js/vendor/jquery.js
      - /FitText.js/jquery.fittext.js
      - /foundation/js/vendor/fastclick.js
      - /foundation/js/foundation.min.js
  stylesheets: 
    - /main.css
  topbar:
    toggle: Menu
    right:
      - name: Home
        url: /
      - name: Mark
        url: /mark-hammar/
      - name: Contact
        url: /contact/

# Longmans framework globals
## Jekyll options
layouts: *longmans_lay
sass: 
  sass_dir: _includes/longmans/bower_components/foundation/scss
# style: compressed
## Longmans specific
longmans: *the_hammar

# Site Info
name: HAMMAR
description: &site_desc "A talented design firm located in Riverside, CA specializing in graphic design, marketing and printing."
vcard:
  email: "mark@thehammar.com"
  fn: "Mark Hammar"
  locality: "Riverside"
  phone: "(951) 313-7342"
  state: "CA"
  street-address: "6185 Magnolia Ave. Box #111"
  zip: "92506"

# FrontMatter defaults
defaults:
  -
    scope:
      path: ""
    values:
      d: *longmans_d 
  -
    scope: &scope_all # Set scope to all pages in site
      path: "" # an empty string here means all files in the project
      type: "pages" # Available options are pages, posts, and drafts
    values: &values_all 
      layout: "page"
      description: *site_desc
      og: # &og # Facebook Opengraph tags
        image: "/opengraph/the-hammar.png"
        type: "website"
          # set includes dir here with reference to anchor in longmans theme
      subtitle: "Design is a Good Idea"
  -
    scope: # Set scope to all site posts
      <<: *scope_all
      type: "posts"
    values: 
      <<: *values_all
      layout: "post"

gems: 
  - jekyll-redirect-from
  - jekyll-sitemap

exclude:
  - bower.json
  - CNAME
  - Gemfile
  - Gruntfile.js
  - Compression-by-Noita--license
  - LICENSE
  - node_modules/
  - package.json
  - Rakefile
  - README.md
  - vendor/
  - *longmans_lay

include: 
  - _includes

compress_html:
  clippings: [html, head, title, base, link, meta, style, body, article, section, nav, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address, p, hr, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, main, div, table, caption, colgroup, col, tbody, thead, tfoot, tr, td, th]
  endings: [html, head, body, li, dt, dd, p, rt, rp, optgroup, option, colgroup, caption, thead, tbody, tfoot, tr, td, th]

