<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% include noita/robots.html %}
  {% include noita/meta-description.html %}

  {% for favicon in site.thehammar.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
    <link rel="apple-touch-icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
    {% endfor %}

    <link rel="alternate" href="/blog/feed.atom"
      title="{{ site.thehammar.name }}" type="application/atom+xml">

    <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/foundation/css/foundation.css">
    {% for stylesheet in site.thehammar.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    <script src="{{ site.baseurl }}/bower_components/foundation/js/vendor/modernizr.js"></script>
</head>
