---
layout: compress
---
<!doctype html>
<html dir="ltr" lang="{{ site.thehammar.lang }}">
  {% include thehammar/head.html %}
  <body>
    <div id="bg-highlight">
      <div class="row">
        <div class="small-12 column">
          <div id="main-wrapper">
          {% include thehammar/topbar.html %}
            <div id="main">
              {% include thehammar/header.html %}
              <div id="main-content">
                {{ content }}
              </div>
              {% include thehammar/footer.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% include thehammar/scripts.html %}
  </body>
</html>
